.form-centered {max-width: 330px;padding: 15px;margin: 0 auto;}
.header-nav{background-color: black;z-index: 1040;}
.hdr-logo{height: 35px;margin-top: -7px;}
.header-nav{border-radius: 0px;width: 100%;}
@media screen and (min-width: 768px){
.navbar-collapse.collapse .filter-stack{margin-top:40px;}
}
.row-alt{    background-color:rgb(238, 238, 238);}
.task-list .row{padding: 5px;word-break:break-all}
.task-list{border: 1px solid #EEE;}
.filter-stack>li{margin: 10px 10px;}
.btnEdit{margin-left:5px !important;}
.btnBacktolist{margin-right:5px !important;}
.dropdown select{
 display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.date-picker[readonly]{cursor:default;}
